<h1 style="margin-bottom: 2px;"><%= @user.full_name %></h1>
<!-- This user view is shared with the my_account page  -->
<%= render :partial => 'user' %>

<%= link_to("edit", edit_user_path(@user)) if can_manage_users? %>