login: &login
  adapter: mysql
  host: localhost
  username: 
  password: 

development:
  database: epcop_development
  <<: *login 

test:
  database: epcop_test
  <<: *login 

production:
  database: epcop_production
  <<: *login
