<h1>My Account</h1>
<h2><%= @user.full_name %></h2>
<%= render :partial => '/users/user' %>

<div id="personal_preferences"><strong><%= link_to 'Change my login or password', '/my_account/edit_password' %></strong></div>

<%= link_to 'Edit', edit_my_account_path(@user) %>